@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #7fad39;
    --primary-text-1: #1c1c1c;
    --primary-text-2: #252525;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Cairo', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #212529;
    line-height: 1.5;
}
