.shopping-cart {
    margin: 80px 0;
}

.shopping-cart-empty {
    text-align: center;
}

.go-shopping-link {
    font-size: 16px;
    font-weight: 600;
    
    &:hover {
        opacity: 0.8;
    }
}

.shopping-cart-container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.shopping-cart-top {
    margin-bottom: 30px;
}

.shopping-cart-top > table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    display: table;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

.shopping-cart-top > table > thead > tr {
    border-bottom: 1px solid #ebebeb;
    
}

.shopping-cart-top > table > thead > tr > th {
    padding: 1px 1px 20px 1px;
    font-size: 20px;
    font-weight: 700;
    color: #1c1c1c;
}

.shopping-cart__products {
    text-align: left;
}

.shopping-cart-top > table > tbody > tr {
    border-bottom: 1px solid #ebebeb;
}

.shopping-cart-top > table > tbody > tr > td {
    padding-top: 30px;
    padding-bottom: 30px;
}

.shopping-cart__item {
    width: 630px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 0 25px;

    & > img {
        width: 200px;
        height: 200px;
        border-radius: 16px;
    }
}

.shopping-cart__item > h5 {
    font-size: 18px;
    color: #1c1c1c;
    font-weight: 400;
    line-height: 1.2;
}

.shopping-cart__price {
    font-size: 18px;
    color: #1c1c1c;
    font-weight: 700;
    width: 100px;
}

.shopping-cart__quantity {
    width: 225px;
}



.shopping-cart__quantity__container > span {
    font-size: 16px;
    color: #6f6f6f;
    cursor: pointer;
    display: inline-block;
    width: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.shopping-cart__quantity__container .minus-btn {
    left: 20px;
}

.shopping-cart__quantity__container .plus-btn {
    right: 20px;
}

.shopping-cart__quantity__container {
    display: inline-block;
    position: relative;
    text-align: center;
    background: #f5f5f5;
    margin-bottom: 5px;
    height: 40px;
}

.shopping-cart__quantity__container > input {
    height: 100%;
    width: 120px;
    font-size: 16px;
    border: none;
    background-color: #f5f5f5;
    text-align: center;
    color: #1c1c1c;
}

.shopping-cart__total {
    font-size: 18px;
    color: #1c1c1c;
    font-weight: 700;
    width: 100px;
}

.remove-btn {
    color: #6f6f6f;
    padding: 14px 30px 12px;
    background-color: #f5f5f5;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    border: none;
    border-radius: 1.6rem;

    &:hover {
        background-color: #6f6f6fb5;
        color: #fff;
    }
}

/* Shopping cart bottom */
.shopping-cart__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.primary-cart-btn {
    color: #6f6f6f;
    padding: 14px 30px 12px;
    background-color: #f5f5f5;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;

    &:hover {
        background-color: #6f6f6fb5;
        color: #fff;
    }
}

.cart-btn-right > .cart-btn-right__icon {
    margin-right: 8px;
}

.cart-btn-right:hover {
    opacity: 0.8;
}

.cart-btn-right:hover > .cart-btn-right__icon {
    transform: rotate(360deg);
    transition: all 0.2s linear;
}

.shopping-cart__content {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.shopping-cart__content__container {
    background: #f5f5f5;
    padding: 30px;
    padding-top: 20px;
    margin-top: 50px;
    width: 555px;
}

.shopping-cart__content .shopping-cart__discount {
    margin-top: 45px;
    width: 585px;
}

.shopping-cart__discount > h2 {
    font-size: 20px;
    color: #1c1c1c;
    font-weight: 700;
    margin-bottom: 25px;
}

.shopping-cart__discount > input {
    width: 255px;
    height: 46px;
    border: 1px solid #cccccc;
    font-size: 16px;
    color: #b2b2b2;
    text-align: center;
    display: inline-block;
    margin-right: 15px;
}

.apply-discount-btn {
    padding: 15px 30px 11px;
    font-size: 12px;
    letter-spacing: 4px;
    background: #6f6f6f;
    color: #ffffff;
    font-weight: 800;
    display: inline-block;
    border: none;

    &:hover {
        opacity: 0.8;
    }
}

.shopping-cart__checkout {
    max-width: 555px;
    margin-top: 50px;
}

.shopping-cart__content__container > h3 {
    color: #1c1c1c;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 28px;
}

.shopping-cart__subtotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: #1c1c1c;
    font-weight: 700;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 13px;
    margin-bottom: 18px;
}

.shopping-cart__subtotal > span {
    font-size: 18px;
    color: #dd2222;
    font-weight: 700;
}

.checkout__btn {
    font-size: 14px;
    padding: 10px 28px 10px;
    color: #ffffff;
    font-weight: 700;
    background: #7fad39;
    letter-spacing: 2px;
    width: 100%;
    display: block;
    text-align: center;

    &:hover {
        opacity: 0.8;
    }
}

.checkout__proceed {
    margin-top: 28px;
}