.shop__sidebar {
    width: 293px;
}

.sidebar__department {
    margin-bottom: 158px;
}

.sidebar__heading {
    color: #1c1c1c;
    font-weight: 900;
    margin-bottom: 30px;
    font-size: 24px;
}

.menu {
    list-style: none;
    margin: 0;

    & .menu-link {
        font-size: 16px;
        color: #1c1c1c;
        line-height: 39px;
        display: block;
        background-color: transparent;

        &:hover {
            color: #7fad39;
            transition: all , .3s;
        }
    }
}

// Sidebar Price
.sidebar__price {
    padding-top: 52px;
    margin-bottom: 35px;
    border-top: 1px solid #ebebeb;
}

.rc-slider-handle.rc-slider-handle-1 {
    box-shadow: rgb(0 0 0 / 20%) 0px 1px 10px;
    border: 0;
    opacity: 0;
}

.price__text {
    margin-top: 12px;
    text-align: center;
}

.price__text__text {
    font-size: 18px;
    color: #dd2222;
    font-weight: 800;
    max-width: 20%;
    border: none;
}

// Sidebar Colors
.sidebar__colors {
    margin-bottom: 35px;
}

.sidebar__colors__options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.colors__white {
    border-radius: 50%;
    border: 2px solid #333333;
    background: transparent;
    height: 14px;
    width: 14px;
}

.colors__yellow {
    border-radius: 50%;
    border: 2px solid transparent;
    background: #E9A625;
    height: 14px;
    width: 14px;
}

.colors__red {
    border-radius: 50%;
    border: 2px solid transparent;
    background: #D62D2D;
    height: 14px;
    width: 14px;
}

.colors__black {
    border-radius: 50%;
    border: 2px solid transparent;
    background: #252525;
    height: 14px;
    width: 14px;
}

.colors__blue {
    border-radius: 50%;
    border: 2px solid transparent;
    background: #249BC8;
    height: 14px;
    width: 14px;
}

.colors__green {
    border-radius: 50%;
    border: 2px solid transparent;
    background: #3CC032;
    height: 14px;
    width: 14px;
}

.colors__item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
}

.colors__text {
    font-size: 16px;
    color: #333333;
    cursor: pointer;

    position: relative;
    
    &.active__color {
        font-weight: 900;
    }

    &.active__color::after {
        font-weight: 900;
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background: #7fad39;
        content: "";
    }
}

// Sidebar Popular Size
.sidebar__size__options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
}

.size__item {
    text-align: center;
    margin-right: 10px;
    background-color: #f5f5f5;
    height: 35px;
    overflow: hidden;
    border-radius: 10px;

    &:hover {
        background-color: #7fad39;
        transition: all 0.15s ease-in-out;
    }
}


.size__text {
    font-size: 12px;
    font-weight: 800;
    color: #6f6f6f;
    display: inline-block;
    cursor: pointer;
    padding: 9px 0;
    width: 100%;
    transition: all 0.15s ease-in-out;

    &:hover {
        color: #fff !important;
        background-color: #7fad39;
    }
}
